.product-preview {
    height: fit-content;
}

.product-preview img {
    width: 70%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.feature-title, .product-name {
    color: #191C1F;
    font-weight: 700;
}

.feature p {
    margin: 0;
}

.feature span {
    width: 24px;    
    height: 24px;
}

.feature {
    display: flex;
    gap: .25rem;
    width: 45%;
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.no-rate {
    color: gray;
    font-style: italic;
    font-weight: lighter;
}

.stars {
    font-size: .75rem;
}

.rate-count {
    color: #5F6C72;
}

.new-price {
    color: #2DA5F3;
    font-weight: 700;
}

.old-price {
    color: #77878F;
    text-decoration: line-through;
}

.discount {
    color: #191C1F;
    background-color: #EFD33D;
    padding: .25rem;
    font-weight: 700;
    font-size: .75rem;
    border-radius: 2px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .color {
    border: 2px solid #1FB5D4; 
}

.color {
    display: inline-block;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 0.25rem;
    cursor: pointer;
    border: 2px solid #B1B5B8;
}

.color.black {
    background-color: #191C1F;
}

.color.gray {
    background-color: #B1B5B8;
}

.color.white {
    background-color: #E0E1E1;
}

.color.blue {
    background-color: #2DA5F3;
}

.color.red {
    background-color: #E74C3C;
}

.color.green {
    background-color: #2ECC71;
}

.color.pink {
    background-color: #E91E63;
}

.color.purple {
    background-color: #9C27B0;
}

.color.gold {
    background-color: #FFD700;
}

.color.silver {
    background-color: #C0C0C0;
}

select {
    cursor: pointer;
}

.quantity-wrapper {
    max-width: 120px;
    width: 100%;
    border: 2px solid #E4E7E9;
    border-radius: .25rem;
}

.quantity-wrapper button {
    border: none;
}

.quantity-wrapper button:focus {
    border: none;
    outline: none;
}

#quantity {
    width: 50px;
    height: 40px;
    border: none;
}

.buy-now-btn {
    color: #1FB5D4;
    background-color: white;
    border: 2px solid #1FB5D4;
}

.buy-now-btn:hover {
    background-color: #1FB5D4;
    color: white;
}

.product-information {
    border: 2px solid #E4E7E9;
    border-radius: 4px;
    height: fit-content;
}

.product-info-tab {
    cursor: pointer;
}


.product-info-tab.selected, .product-info-tab:hover {
    border-bottom: 4px solid #1FB5D4;
}

.product-information .content {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: justify;
}

.products-suggestion .content .price {
    color: #2DA5F3;
    font-weight: 600;
}

.products {
    max-height: 150px;
}

a.product {
    width: 20%;
    max-height: 120px;
    border: 2px solid #E4E7E9;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .3s;
}

a.product:hover {
    border: 2px solid #1FB5D4;
    transform: translateY(-5px);
}

a.product p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a.product p:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.product img {
    width: 30%;
    height: 90%;
}

.specification-content > div {
    width: 60%;
    margin: 0 auto;
}

.rate-content .rate {
    border-bottom: 2px solid #E4E7E9;
    padding: 1rem 0;
}

.rate-header {
    margin-bottom: .5rem;
}

.rate-header p:nth-child(2) {
    font-weight: lighter;
}

.pagination {
    width: 50%;
}

.pagination button {
    color: #1FB5D4;
    background-color: white;
    border: 1px solid #1FB5D4;
}

.pagination button.active, .pagination button:hover {
    background-color: #1FB5D4;
    color: white;
}
/*-------------------icons-------------------*/
.medal-icon {
    content: url("../../imgs/icons/Medal.png");
}

.truck-icon {
    content: url("../../imgs/icons/Truck.png");
}

.handshake-icon {
    content: url("../../imgs/icons/Handshake.png");
}

.headphones-icon {
    content: url("../../imgs/icons/Headphones.png");
}

.creditcard-icon {
    content: url("../../imgs/icons/CreditCard.png");
}

.star-icon {
    content: url("../../imgs/icons/star_in_detail_page.png");
    width: 15px;
    height: 15px;
}
/*-----Responsive-----*/
@media screen and (max-width: 768px) {
    .buttons {
        flex-direction: column !important;

    }

    .quantity-wrapper {
        width: 100%;
        max-width: none;
    }
}