.navbar {
  background-color: #f8f9fa;
  font-size: 0.9rem;
}

.payment-options {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

.payment-method {
  padding: 10px;
  text-align: center;
}

.payment-method input {
  display: block;
  margin-top: 10px;
}

.payment-method label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.payment-method img.payment-icon {
  width: 40px;
  height: auto;
  margin-bottom: 5px;
}

.payment-options .payment-method:not(:last-child) {
  border-right: 1px solid #ddd;
}

.order-summary {
  border: 1px solid #e5e5e5;
  padding: 15px;
  overflow-y: auto;
}

.place-order-btn {
  background-color: #ff6600;
  color: #fff;
}

.place-order-btn:hover {
  background-color: #e65c00;
}

.icon {
  font-size: 48px;
  color: #4CAF50;
}

.button-group .btn {
  padding: 10px 20px;
}

.button-group .btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.button-group .btn-primary:hover {
  background-color: #0056b3;
}

.order-success {
  max-width: 500px;
  padding-top: 40px;
}

.arrow-right {
  font-weight: bold;
  font-size: 1rem;
}

.success-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e8edf3;
  color: #2DB224;
  font-size: 25px;
  border: 2px solid #2DB224;
  margin: auto;
}