body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #f8f9fa;
  font-size: 0.9rem;
}

.card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

.title-row {
  color: #000;
  font-weight: normal;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.order-list .row {
  border: none;
}

.order-list a {
  color: #000;
  text-decoration: none;
}

.order-list a:hover {
  background-color: #4880FF;
  color: white;
}

.hello h3{
  margin: 10px;
}

tr td:first-child {
  font-weight: bold;
}
tr td a:hover {
  color: #4880FF;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  padding: .5rem;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  transition: all ease-in-out .3s;
}

.no-rate {
  color: gray;
  font-style: italic;
}

.page-number.arrow {
  border: 2px solid #008ECC;
  color: #008ECC;
}

.page-number.active, .page-number:hover {
  background-color: #008ECC;
  color: white;
}

.pagination {
  max-width: 300px;
  margin: 0 auto;
}