body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #f8f9fa;
  font-size: 0.9rem;
}

.hello h3{
  margin: 10px;
}

.account-info-card {
  max-width: 800px;
  margin: auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ffffff;
}

.edit-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}

.edit-circle {
  width: 15px;
  height: 15px;
  background-color: #1f1f1f;
  border-radius: 50%;
}

.edit-text {
  color: #1f1f1f;
  font-size: 14px;
  font-weight: bold;
}


.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.mt-3 {
  margin-top: 1rem !important;
}

.form-control:disabled{
  background-color: #ffffff;
}

form div {
  width: 90%;
  max-width: 390px;
}

.nav-item a {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.setting-icon {
  content: url("../../imgs/icons/setting.png");
  width: 22px;
  height: 22px;
}

.nav-item:hover .setting-icon {
  content: url("../../imgs/icons/setting_white.png");
}

.order-history-icon {
  content: url("../../imgs/icons/order_history.png");
  width: 22px;
  height: 22px;
}

.nav-item:hover .order-history-icon {
  content: url("../../imgs/icons/order_history_white.png");
}

.cart-icon {
  content: url("../../imgs/icons/shopping_cart.png");
  width: 22px;
  height: 22px;
}

.nav-item:hover .cart-icon {
  content: url("../../imgs/icons/shopping_cart_white.png");
}

.log-out-icon {
  content: url("../../imgs/icons/log-out.png");
  width: 22px;
  height: 22px;
}

.nav-item:hover .log-out-icon {
  content: url("../../imgs/icons/log-out_white.png");
}


