:root {
    --border-color-gray: #D9D9D9;
}

.info-wrapper {
    background-color: white;
    border-radius: 15px;
    padding: 10px;

    border: 1px var(--border-color-gray) solid;
}

.input-box {
    margin-bottom: 20px;
}

.specification {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}