* {
  box-sizing: border-box;
}

.bg-primary {
  background-color: #1fb5d4 !important;
}

.bg-secondary {
  background-color: #f0f0f0 !important;
}

.btn-primary {
  background-color: #008ecc !important;
  border: none;
}

.btn-primary:hover {
  background-color: #1fb5d4 !important;
}

.btn-primary:active {
  background-color: #008ecc !important;
  outline: none;
}

.border-primary {
  border-color: #008ecc !important;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

/*---------header---------*/
.search-bar {
  border-radius: 62px;
}

.search-input {
  padding: 5px 0px 5px 5px;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.tab {
  background-color: #f3f9fb;
  color: #222222;
  border-radius: 18px;
  max-width: 100%;
  padding: 0.5rem;
  max-width: 50%;
  margin: 0 0.5rem;
}

.tab-selected {
  background-color: #1fb5d4;
  color: #ffffff;
}

.tab:hover {
  background-color: #c7c9c9;
  color: #222222;
}

.tabs a {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #d9d9d9;
}

/*---------footer---------*/
.category {
  max-width: 18%;
}

.other-info {
  max-width: 18%;
}

.category h5,
.other-info h5 {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid white;
}

/*---------dropdown---------*/

.tab {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.5rem;
  border-radius: 4px;
}

.dropdown-content a {
  display: block;
  margin: 0;
  padding: 0.5rem 0.25rem;
  padding-right: 0;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.tab:hover .dropdown-content {
  display: block;
}


/*-----------Phuong customize css------------*/
.ps-6 {
  padding-left: 6rem !important;
}

.border-primary {
  border-color: #1fb5d4 !important;
}

.text-primary {
  color: #1fb5d4 !important;
}

.border-gray {
  border-color: #f0f0f0 !important;
}

h1 {
  margin-bottom: 0px;
}